h1{
    color: red;
}

p{
    font-weight: bold;
}

img{
    height: 400;
    width: 600;
}

form{
    height: 20px;
    width: 100px;
}

#b{
    background-color: black;
    color: white;
}

#b>a{
    color: white;
}